.grid{
    display:grid;
    height:50vh;
    grid-template:
    "header header header header " 1fr
    "content content content nav " 2fr
    "footer footer footer footer " 1fr
    /1fr    1fr    1fr    1fr
    ;    
}
    

.header{
    background-color: #2ecc2e;
    grid-area:header;
}

.content{
    background-color: #343681;
    grid-area:content;
 
}

.nav{
    background-color: #6a456e;
    grid-area:nav;

}

.footer{
    background-color: #5eccde;
    grid-area:footer;
}
